 /* #root {
    margin: 1; 
    display: grid; 
    grid-template-areas:
        "header"
        "navigation"
        "content"
        "footer"; 
    min-height: 100vh; 
    grid-template-rows: min-content min-content auto min-content; */ 


 body {
    margin: 1; 
} 

#root {
    display: grid; 
    grid-template-areas:
        "header header header"
        "navigation navigation navigation"
        "content content content"
        "old old old"
        "blog blog sidebar"
        "blog blog sidebar"
        "footer footer footer"; 
    min-height: 100vh; 
    grid-template-rows: min-content min-content auto min-content; 
}



 .boxed {
    border: 4px solid white; 
    padding: 0 100px;
    margin: 58px 100px;
}

#header {
    font-family: 'Knewave'; 
    color: white; 
    font-size: 35pt; 
    text-align: center;
    background-color: black;
    border: 5px;
    padding: 2px;
    display: grid;
    grid-area: header;
}

.open-sans {
    font-family: 'Open Sans', sans-serif;
} 

/* Style the navigation bar at top of every page start */
 #navigation {
    position: sticky; 
    top: 0;
    background-color: white;
    font-family: 'Knewave'; 
    grid-area: navigation; 
}

#navigation a + ul {
    position: absolute;
    display: none;
    left: 0;
    bottom: -90px;
    background-color: darkgray;
    list-style: none;
    padding: 10px;
    width: 80%; 
}

#navigation > ul {
    align-items: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px black solid;
}

#navigation a + ul:hover, 
#navigation a:hover + ul {
    display: flex;
    flex-direction: column;
    word-wrap: none;
    height: 10vh;
    justify-content: space-between;
}

#navigation > ul > li {
    display: inline;
    position: relative;
    flex-grow: 1; 
}

li {
    float: left;
}
.nav-container {
    border-style: solid;
    border-color:darkgray; 
    margin-top: 0; 
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a:link,a:visited {
    display: block; 
    color:black;
    background-color:white;
    font-family: 'Knewave'; 
    width: 100px;
    height: 35px;
    text-align: center;
    padding: 3px 3px;
    font-size: 22px;
    text-align: center;
    text-decoration: none;
}

a:hover,a:active {
    background-color: orange;
}

div.nav-container {
    border: black 5px;
}

.about-drop {
    border: 2px solid black; 
} 
 

/* Style the navigation bar at top of every page stop */



/* Style home button in navigation bar at top of every page start */

.material-icons {
    vertical-align: -14%;
    background-color: #555;
    padding-left: 30px;
    padding-right: 30px; 
    padding-top: 7px; 
    padding-bottom: 7px; 
    margin: 3px 3px 2px 2px; 
}

#home.material-icons {
    display: block; 
    text-align: left; /* Center-align text */
    font-size: 10px; 
}

/* Add a hover color */
 .material-icons i:hover {
    background-color:orange; 
} 

/* Style home button in navigation bar at top of every page stop */


/* Style the search box inside the navigation bar start */
.nav-container input[type=text] {
    float: right;
    padding: 6px;
    margin-top: 4px;
    margin-right: 16px;
    font-size: 15px;
}       

/* Style the search box inside the navigation bar stop */


/* All blogs being displayed start */
#content {
    grid-area: content; 
    display: grid; 
}

.new-post-subscribe {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 75% 25%;  
    position: relative;    
}

.new-post-text h2 {
    font-size: 40px; 
    font-style: bold; 
    background-color: #00FF00; 
    color: white; 
    padding-left: 15px; 
    width: 22.5%;
}

.tin-man img {
    width: 75%;
    height: 100%;
    border: 7px solid #F40830;
    margin-top: 15px;
}

.new-post-text {
    width: 2px;
} 

/* Latest blog posts header */

#old {
    grid-area: old;
    display: grid; 
}

.latest-post-header {
    font-family: 'Knewave'; 
    color: white; 
    display: grid;
    grid-template-rows: 100%; 
    background-color: #F40830; 
    padding-left: 10px; 
}

#blog {
    grid-area: blog; 
    display: grid; 
    grid-template-rows: 37.5% 37.5% 25%;
}

.old-entries {
    display: grid; 
}

.blue-robot img {
    width: 500px;
    height: 500px;
    border: 7px solid #3ED6D9;
}

.drummer-robot img {
    width: 500px;
    height: 500px;
    border: 7px solid #3ED6D9;
}

.black img {
    width: 500px;
    height: 500px; 
    border: 7px solid #3ED6D9; 
} 
/* All blogs being displayed end*/

/* Email list start */
.subscribe-box {
    padding-left: 20px;
    background-color: orange;
    margin-left: 5px; 
    margin-top: 5px; 
 }

  #email-address {
    padding: 20px;
    font-size: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 20px;
    font-size: 15px;
}

.join {
    text-align: center;
}

  .email-header {
    font-family: 'Knewave'; 
    font-size: 18pt; 
    display: grid;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap; 
  }

  .email-header h2 {
    display: flex;
    flex-direction: row;  
    text-align: center; 
} 

#ok h4 {
    background-color: slategrey; 
    padding: 7px;
    margin-left: 4px; 
    color: white; 
    display: flex; 
    flex-direction: row;
    align-items: baseline;
    justify-content:flex-end;
}

.email-social {
    width: 100%; 
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 10px; 
    font-size: 25px;
}

.email-social li {
    padding: 2px;
}


.fab {
    width: 25%;
    color: lightyellow;
    display: flex;
    justify-content: space-around; 
    align-items: flex-end;  
}


/* Email list stop */

/* Store start */

.store-box {
    padding-left: 20px;
    background-color:#3ED6D9;
    margin-left: 5px; 
    margin-top: 5px; 
 } 

/* Store stop */

#sidebar {
   grid-area: sidebar;
   display: grid; 
}

.sidebar-subscribe-box {
    padding-left: 20px;
    background-color: orange;
    margin-left: 5px; 
    margin-top: 5px; 
    margin-bottom: 15px;
 }

  #email-address {
    padding: 20px;
    font-size: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 20px;
    font-size: 15px;
}

.join {
    text-align: center;
}

  .email-header {
    font-family: 'Knewave'; 
    font-size: 18pt; 
    display: grid;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap; 
  }

  .email-header h2 {
    display: flex;
    flex-direction: row;  
    text-align: center; 
} 

#ok h4 {
    background-color: slategrey; 
    padding: 7px;
    margin-left: 4px; 
    color: white; 
    display: flex; 
    flex-direction: row;
    align-items: baseline;
    justify-content:flex-end;
}

.email-social {
    width: 100%; 
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 10px; 
    font-size: 25px;
}

.email-social li {
    padding: 2px;
}


.fab {
    width: 25%;
    color: lightyellow;
    display: flex;
    justify-content: space-around; 
    align-items: flex-end;  
}


/* Email list stop */

/* Store start */

.store-box {
    padding-left: 20px;
    background-color:#3ED6D9;
    margin-left: 5px; 
    margin-top: 5px; 
 } 


/* Footer start */
#footer { 
    grid-area: footer; 
    display: grid;
}

.boxed-bottom { /* Black Box Logo */
    font-family: 'Knewave'; 
    color: lightgray; 
    border: 4px solid lightgray; 
    padding: 10px;  
    font-size: 30px; 
    margin-left: 5px;  
    grid-column-start: 1; 
    grid-row-start: 1; 
    display: block; 
    text-align: center; 
    align-items: center; 
} 
/* Moves Black Box Logo left to right */
/* Moves Black Box Logo up & down */



/* Social Buttons & BB Header*/     
.social-footer {  
    display: grid;
    background-color: black; 
    color: lightyellow; 
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    padding: 10px;
} 


/* Moves social button left to right */ 
.follow-us-box {
    grid-column-start: 3;  
    display: grid;
    align-items: center; 
    text-align: center;  
    grid-row-start: 1; 
} 

.footer-buttons {
    width: 100%; 
    justify-content: space-between;
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-size: 25px;
} 

.follow-us {
    justify-content: center; 
    align-items: center; 
    font-size: 25px; 
    font-family: open sans
} 

#in-touch-footer {
    padding-left: 1000px;
    width: 100%; 
    font-family: 'Open Sans', sans-serif;
}

#stay-in-touch h2 {
    font-size: 25px; 
}

#in-touch-ok {
    font-size: 25px;
    background-color: slategrey; 
    padding: 7px;
    margin-left: 4px; 
    display: flex; 
    flex-direction: row;
    align-items: baseline;
    justify-content:flex-end;

}    

.social-footer li {
    padding: 5px;
    font-size: 30px;   
}

#submit-footer {
    font-size: 15px;
    background-color: darkgray;
    width: 35%;
    justify-content: center;
    align-items: center; 
    margin-left: 1px;
} 

/*grey footer*/
/* Entire grey footer */
#grey-footer { 
    color: lightgray; 
    background-color:darkgray;
    display: flex;
    justify-content: space-around;
    align-items: flex-end; 
}  

.open-sans {
    font-size: 17px;
}

.open-sans a {
    font-size: 20px;
    color: gray; 
    font-style: bold; 
}

.ideas {
    padding-right: 100px;   
   }

.rights {
    font-family: 'Open Sans', sans-serif;
} 



/* Footer stop */
    



 /* Add for header and content too */

/* Support page start */

/* form {

} */

/* input[type=email] {
    width: ;
}

input {
    margin: ; 
} */

/* Support page stop */

@media screen and (min-width: 320px) { 
    body {
        grid-template-areas: 
            "header"
            "navigation"
            "content"
            "footer"; 
        grid-template-rows: min-content auto min-content min-content;
        grid-template-columns: 100vw auto;
    } 
     /* #root {
        grid-template-areas: 
            "header"
            "navigation"
            "content"
            "footer"; 
        grid-template-rows: min-content auto min-content min-content;
        grid-template-columns: 100vw auto;
} */