

body {
    margin: 1; 
    display: grid; 
    grid-template-areas:
        "header"
        "navigation"
        "content"
        "footer"; 
    min-height: 100vh; 
    grid-template-rows: min-content min-content auto min-content;
}
.boxed {
    border: 4px solid white; 
    padding: 0 100px;
    margin: 58px 100px;
}

.header {
    font-family: 'Knewave'; 
    color: white; 
    font-size: 35pt; 
    text-align: center;
    background-color: black;
    border: 5px;
    padding: 2px;
}

/* Style the navigation bar at top of every page start */
#navigation {
    position: sticky; 
    top: 0;
    background-color: white;
    font-family: 'Knewave'; 
    grid-area: navigation; 
}

#navigation a + ul {
    position: absolute;
    display: none;
    left: 0;
    bottom: -90px;
    background-color: darkgray;
    list-style: none;
    padding: 10px;
    width: 80%; 
}

#navigation > ul {
    align-items: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#navigation a + ul:hover, 
#navigation a:hover + ul {
    display: flex;
    flex-direction: column;
    word-wrap: none;
    height: 10vh;
    justify-content: space-between;
}

#navigation > ul > li {
    display: inline;
    position: relative;
    flex-grow: 1; 
}

li {
    float: left;
}
.nav-container {
    border-style: solid;
    border-color:darkgray; 
    margin-top: 0; 
    margin-bottom: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a:link,a:visited {
    display: block; 
    color:black;
    background-color:white;
    font-family: 'Knewave'; 
    width: 100px;
    height: 35px;
    text-align: center;
    padding: 3px 3px;
    font-size: 22px;
    text-align: center;
    text-decoration: none;
}
a:hover,a:active {
    background-color: #FFCC00;
}
div.nav-container {
    border: black 5px;
}

.about {
    border: 2px solid black; 
}

/* Style the navigation bar at top of every page stop */



/* Style home button in navigation bar at top of every page start */

.material-icons {
    vertical-align:-14%;
    background-color: #555;
    padding: 7px;
    margin: 3px 3px 2px 2px; 
}

#home.material-icons {
    display: block; 
    text-align: left; /* Center-align text */
    background-color: #555; 
    font-size: 10px; /* Increased font size */
}

.material-icons i:hover {
    background-color:#FFCC00; /* Add a hover color */
}

/* Style home button in navigation bar at top of every page stop */


/* Style the search box inside the navigation bar start */
.nav-container input[type=text] {
    float: right;
    padding: 6px;
    margin-top: 4px;
    margin-right: 16px;
    font-size: 15px;
}
/* Style the search box inside the navigation bar stop */


/* All blogs being displayed start */
#content {
    size: 300px 300px; 
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: 1px;
    grid-area: content; 
    display: flex; 
}

#new-content {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 75% 25%;    
}

.new-post {
    text-align: left;
    margin-left: 5px;
    margin-bottom: 10px;
    padding-top: 0px;
}

.fakeimg img {
    width: 700px;
    height: 500px;
}

.recent {
    font-family: 'Knewave'; /* Latest blog posts header */
    display: flex;
    flex-wrap: wrap; 
}

.blog-old {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap; 
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
/* All blogs being displayed end*/

/* Email list start */
.submit-email {
    padding-left: 20px;
    background-color: orange;
    margin-left: 5px; 
    margin-top: 5px; 
 }

  #email-address {
    padding: 8px;
    font-size: 15px;
    display: flex;
    flex-direction: row;
  }

  .join {
    text-align: center;
  }

  .email-header {
    font-family: 'Knewave'; 
    font-size: 10pt; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap; 
  }

  .email-header h2 {
    display: flex;
    flex-direction: row;  
    text-align: center; 
  }

.email h4 {
    background-color: slategrey; 
    padding: 7px;
    margin-left: 4px; 
    color: white; 
    display: flex; 
    flex-direction: row;
    align-items: baseline;
    justify-content:flex-end;
}

.email-social {
    width: 100%; 
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 10px; 
    font-size: 25px;
}

.email-social li {
    padding: 2px;
}


.fab {
    width: 25%;
    color: lightyellow;
    display: flex;
    justify-content: space-around; 
    align-items: flex-end;  
}


/* Email list stop */


/* Footer start */
#footer {
    background-color:black;
    clear: both;
    position: sticky; 
    padding: 12px;
    width: 100%; 
    grid-area: footer; 
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    flex-wrap: wrap; 
}

.boxed-bottom {
    text-align: left;
    font-family: 'Knewave'; 
    color: lightgray; 
    font-size: 15pt; 
    text-align: center;
    background-color: black;
    border: 5px;
    padding: 2px;
    display: flex;
    flex-direction: row-reverse; 
}

.footer-container {
    border: 4px solid lightgray; 
    padding: 0 10px;
} 
     
.social-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 10px; 
    font-size: 30px; 
    }

.social-footer li {
    padding: 2px;
}

#grey-footer {
    font-family: 'Knewave'; 
    color: lightgray; 
    font-size: 10pt; 
    text-align: center;
    background-color:darkgray;
    width: 100%; 
} 

/* Footer stop */
    



 /* Add for header and content too */
}

/* Support page start */

form {

}

input[type=email] {
    width: 25%;
}

input {
    margin: 5px; 
}

/* Support page stop */

@media screen and (min-width: 320px) {
    body {
    }
}