body {
    margin: 1;
}
.boxed {
    border: 4px solid white; 
}

.animate {
    font-family: 'Knewave'; 
    color: white; 
    font-size: 35pt; 
    text-align: center;
    background-color: black;
    border: 5px;
    padding: 2px;
}

/* Style the navigation bar at top of every page start */
li {
    float: left;
}
.nav-container h1 {
    border-style: solid;
    border-color:darkgray; 
    margin-top: 0; 
    margin-bottom: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
a:link,a:visited {
    display: block; 
    color:black;
    background-color:white;
    font-family: 'Knewave'; 
    width: 100px;
    height: 35px;
    text-align: center;
    padding: 3px 3px;
    font-size: 22px;
    text-align: center;
    text-decoration: none;
}
a:hover,a:active {
    background-color: #FFCC00;
}
div.nav-container {
    border: black 5px;
}
/* Style the navigation bar at top of every page stop */



/* Style home button in navigation bar at top of every page start */

.material-icons {
    vertical-align:-14%;
    background-color: #555;
    padding: 7px;
    margin: 3px 3px 2px 2px; 
}

#home.material-icons {
    display: block; 
    text-align: left; /* Center-align text */
    background-color: #555; 
    font-size: 10px; /* Increased font size */
}

.material-icons i:hover {
    background-color:#FFCC00; /* Add a hover color */
}
/* Style home button in navigation bar at top of every page stop */


/* Style the search box inside the navigation bar start */
.nav-container input[type=text] {
    float: right;
    padding: 6px;
    margin-top: 4px;
    margin-right: 16px;
    font-size: 15px;
/* Style the search box inside the navigation bar stop */


/* Style for blog posts start */
.column {
    float: left;
    width: 50%;
    }
    
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    }
/* Style for blog posts stop */






#content {
    size: 52px;
    color: orange;
    background-color: blue;
    text-align: center;
}
.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 50px;
    width: 100%;
}
#footer {
    size: 52px;
    color: orange;
    background-color: grey;
    text-align: center;
    padding: 50px;
}
.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 300px;
    width: 100%;
}
